p{
	font-size:30px;
}
footer{
	background-color:red;
}
body{
	background-color:gray;
}







<!--1.Изменить размер текста в Main -->
<!--2.Изменить цвет Footer -->
<!--3.Изменить цвет фона -->

